@page "/warehouse/transactions/"
@using LogiEdge.CustomerService.Data
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Routing

@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory
@inject NavigationManager NavigationManager

<h3>Transactions</h3>

@code
{
    private List<InventoryTransaction> Transactions { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        Transactions = ctx.InventoryTransactions
            .Include(tr => tr.NewItemStates)!.ThenInclude(st => st.Item)
            .ToList();
    }

    private async Task BtnCreateInboundTransactionOnClick()
    {
        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        InboundTransaction transaction = new()
        {
            Date = DateTime.UtcNow,
            CreatedByUserId = Guid.Empty, // TODO: Pass current user's ID
            HandledByWorker = "",
            AttachmentIds = []
        };

        ctx.InboundTransactions.Add(transaction);

        await ctx.SaveChangesAsync();
        NavigationManager.NavigateTo($"/warehouse/transactions/{transaction.Id}");
    }

    private async Task BtnCreateOutboundTransactionOnClick()
    {
        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        OutboundTransaction transaction = new()
        {
            Date = DateTime.UtcNow,
            CreatedByUserId = Guid.Empty, // TODO: Pass current user's ID
            HandledByWorker = "",
            AttachmentIds = [],
            DraftSelectedItems = [],
        };

        ctx.OutboundTransactions.Add(transaction);

        await ctx.SaveChangesAsync();
        NavigationManager.NavigateTo($"/warehouse/transactions/{transaction.Id}");
    }

    private async Task BtnCreateRelocationTransactionOnClick()
    {
        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        RelocationTransaction transaction = new()
        {
            Date = DateTime.UtcNow,
            CreatedByUserId = Guid.Empty, // TODO: Pass current user's ID
            HandledByWorker = "",
            AttachmentIds = []
        };

        ctx.RelocationTransactions.Add(transaction);

        await ctx.SaveChangesAsync();
        NavigationManager.NavigateTo($"/warehouse/transactions/{transaction.Id}");
    }
}

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="btnCreateTransactionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Create Transaction
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnCreateTransactionDropdown">
        <li><a class="dropdown-item" @onclick="BtnCreateInboundTransactionOnClick">Inbound Transaction</a></li>
        <li><a class="dropdown-item" @onclick="BtnCreateOutboundTransactionOnClick">Outbound Transaction</a></li>
        <li><a class="dropdown-item" @onclick="BtnCreateRelocationTransactionOnClick">Relocation Transaction</a></li>
    </ul>
</div>

<div>
    @foreach (InventoryTransaction transaction in Transactions)
    {
        string transactionTypeString = transaction switch
        {
            InboundTransaction => "Inbound Transaction",
            OutboundTransaction => "Outbound Transaction",
            RelocationTransaction => "Relocation Transaction",
            _ => throw new Exception("Encountered unknown transaction type " + transaction.GetType().Name),
        };

        // group items first by customer and then by item number
        var groupedItems =
        transaction.GetAffectedItems()?.GroupBy(
        it => it.Customer,
        resultSelector: (key, gi) => (key, gi.GroupBy(x => x.ItemNumber)))
        ?? [];

        <NavLink href="@($"/warehouse/transactions/{transaction.Id}")">
            <div>
                <span>@transactionTypeString</span>
                <span>@transaction.Date</span>
                <span>Created by @transaction.CreatedByUserId - Handled by @transaction.HandledByWorker</span>

                <table>
                    <tr>
                        <th>Item Number</th>
                        <th>Count</th>
                    </tr>
                    @foreach (var customerGroup in groupedItems)
                    {
                        <tr>
                            <td colspan="2" align="center">@customerGroup.key</td>
                        </tr>
                        @foreach (IGrouping<string, Item> itemGroup in customerGroup.Item2)
                        {
                            <tr>
                                <td>@itemGroup.Key</td>
                                <td>@itemGroup.Count()</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </NavLink>
    }
</div>


