@using System.Reflection
@using System.Text.Json
@using System.Collections.Generic
@using System.Collections.Specialized
@using System.Diagnostics.CodeAnalysis
@using System.Globalization
@using System.Linq.Expressions
@using LogiEdge.CustomerService.Data
@using LogiEdge.Warehouse.Pages
@using LogiEdge.WarehouseService.Data
@using Microsoft.AspNetCore.Components.Forms
@code {
    [Parameter]
    public required IList<Item> Items { get; set; }
    [Parameter]
    public DateTime? AtDate { get; set; }

    [Parameter]
    public required OrderedDictionary<string, bool> PropertyColumns
    {
        get => propertyColumns;
        [MemberNotNull(nameof(propertyColumns))]
        set
        {
            propertyColumns = value;
            modalPropertyColumns = new OrderedDictionary<string, bool>(PropertyColumns);
        }
    }

    /// <summary>
    /// Name of the column to sort by.
    /// </summary>
    [Parameter]
    public string? SortByColumn { get; set; } = null;
    /// <summary>
    /// If false, sort in ascending order. If true, sort in descending order
    /// </summary>
    [Parameter]
    public bool SortOrderDescending { get; set; } = false;

    [Parameter]
    public required ItemsPage Parent { get; set; }

    private OrderedDictionary<string, bool>? modalPropertyColumns = null;
    private List<DraggableList<string>.ListItem> propertyListItems = [];

    private RenderFragment<(string propertyName, object? propertyValue)>? propertyRenderFragment = null;
    private RenderFragment<object?>? propertyValueRenderFragment = null;
    private OrderedDictionary<string, bool> propertyColumns;

    private void BtnSortClicked(string? columnName)
    {
        // sort the column in ascending order if it is not already sorted by it
        bool descending = (SortByColumn == columnName) && !SortOrderDescending;

        if (columnName != null)
            Parent.AddOrInsertQueryParamsAndNavigate([("sortBy", [columnName]), ("orderDescending", [descending.ToString()])]);
        else
            Parent.RemoveQueryParamsAndNavigate("sortBy", "orderDescending");
    }

    private void BtnCloseModalClicked()
    {
        OrderedDictionary<string, bool> properties = new((modalPropertyColumns ?? [])
            .OrderBy(x => propertyListItems.First(y => y.BackingElement == x.Key).Order).ToList());
        Parent.AddOrInsertQueryParamAndNavigate("col", properties.Where(x => x.Value).Select(x => x.Key).ToArray());
    }

}

@{
    propertyValueRenderFragment = (object? propertyValue) =>
    {
        if (propertyValue == null)
            return @<text></text>;

        switch (propertyValue)
        {
            case DateTime dateTimeValue:
                return @<text>@dateTimeValue.ToLocalTime().ToString(CultureInfo.CurrentCulture)</text>;
            default:
                return @<text>@propertyValue.ToString()</text>;
        }

        return @<td>@propertyValue.ToString()</td>;
    };

    propertyRenderFragment = (ValueTuple<string, object?> data) =>
    {
        (string propertyName, object? propertyValue) = data;

        if (propertyValue == null)
            return @<td></td>;

        switch (propertyName)
        {
            case nameof(Item.Customer):
                Customer c = (Customer)propertyValue;
                return @<td>
                           <a href="" @onclick='() => Parent.AddOrInsertQueryParamAndNavigate("CustomerId", c.Id.ToString())'>
                               @propertyValueRenderFragment(c.Name)
                           </a>
                       </td>;
            case nameof(ItemState.Warehouse):
                Warehouse w = (Warehouse)propertyValue;
                return @<td>
                           <a href="" @onclick='() => Parent.AddOrInsertQueryParamAndNavigate("WarehouseId", w.Id.ToString())'>
                               @propertyValueRenderFragment(w.Name)
                           </a>
                       </td>;
            default:
                return @<td>
                           <a href="" @onclick='() => Parent.AddOrInsertQueryParamAndNavigate(propertyName, propertyValue?.ToString() ?? "")'>
                               @propertyValueRenderFragment(propertyValue)
                           </a>
                       </td>;
        }
    };
}

<span>Showing @Items.Count items.</span>
<table class="table table-striped table-hover">
    <thead class="table-primary">
        <tr>
            @foreach ((string propertyName, bool _) in PropertyColumns.Where(x => x.Value))
            {
                <th style="line-height: 24px;">
                    <span style="vertical-align: bottom;">@propertyName</span>

                    <button type="button"
                            class="btn btn-secondary table-button"
                            @onclick="() => BtnSortClicked(propertyName)">
                        @if (SortByColumn == propertyName)
                        {
                            @if (SortOrderDescending)
                            {
                                <span class="material-symbols-rounded">
                                    arrow_upward
                                </span>
                            }
                            else
                            {
                                <span class="material-symbols-rounded">
                                    arrow_downward
                                </span>
                            }
                        }
                        else
                        {
                            <span class="material-symbols-rounded">
                                swap_vert
                            </span>
                        }
                    </button>

                    @if (propertyName == PropertyColumns.Last(x => x.Value).Key)
                    {
                        // button to select which columns to show
                        <button type="button"
                                class="btn btn-primary table-button"
                                style="float: right;"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-column-select">
                            <span class="material-symbols-rounded">
                                splitscreen_vertical_add
                            </span>
                        </button>
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            IList<Item> sortedItems = Items;

            if (SortByColumn != null)
            {
                Func<Item, object?>? lambda = null;
                if (typeof(Item).GetProperty(SortByColumn) is { } itemInfo)
                {
                    lambda = it => itemInfo.GetValue(it);
                } else if (typeof(ItemState).GetProperty(SortByColumn) is { } stateInfo)
                {
                    lambda = it => stateInfo.GetValue(it.ItemStates.Where(st => !AtDate.HasValue || st.Date <= AtDate.Value).MaxBy(st => st.Date));
                }
                else
                {
                    lambda = it => (it.GetAdditionalProperty(SortByColumn) ?? null);
                }
                
                if (SortOrderDescending)
                {

                    sortedItems = sortedItems
                    .OrderByDescending(lambda)
                    .ToList();
                }
                else
                {
                    sortedItems = sortedItems
                    .OrderBy(lambda)
                    .ToList();
                }
            }
        }
        @foreach (Item item in sortedItems)
        {
            ItemState? itemState = item.ItemStates.Where(st => !AtDate.HasValue || st.Date <= AtDate.Value).MaxBy(st => st.Date);

            // if there is no item state before the given date that means the item wasn't in the warehouse at this
            // point in time, so skip it
            if (itemState == null)
                continue;

            <tr>
                @foreach (string propertyName in PropertyColumns.Where(x => x.Value).Select(x => x.Key))
                {
                    PropertyInfo? itemProperty = item.GetType().GetProperty(propertyName);
                    PropertyInfo? stateProperty = itemState.GetType().GetProperty(propertyName);
                    object? propertyValue = null;
                    if (itemProperty != null)
                    {
                        propertyValue = itemProperty.GetValue(item);
                    }
                    else if(stateProperty != null)
                    {
                        propertyValue = stateProperty?.GetValue(itemState);
                    }
                    else
                    {
                        // try finding it in the additional properties
                        // TODO: Support additional properties with non-string types
                        if (item.AdditionalProperties.RootElement.TryGetProperty(propertyName, out JsonElement propertyElement))
                            propertyValue = propertyElement.GetString();
                    }

                    @propertyRenderFragment((propertyName, propertyValue))
                }
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="modal-column-select" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Table Columns</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        @onclick="BtnCloseModalClicked">
                </button>
            </div>
            <div class="modal-body">
                <p style="width: 100%; text-align: center;">Select columns to display in the table. Drag the handles to change column order.</p>
                <div id="modal-property-list" class="rounded border">
                    @{
                        RenderFragment<string> listItemFragment = item => @<span>
                            <InputCheckbox @bind-Value="modalPropertyColumns[item]" />
                            <label>@item</label>
                        </span>;
                        propertyListItems.Clear();
                        foreach (string propertyName in PropertyColumns.Keys)
                        {
                            propertyListItems.Add(new DraggableList<string>.ListItem
                {
                    Order = PropertyColumns.Keys.ToList().IndexOf(propertyName),
                    ListElement = listItemFragment,
                    BackingElement = propertyName
                });
                        }
                    }

                    <DraggableList TItem="string" Items="propertyListItems" Style="list-style-type: none;"></DraggableList>
                </div>
            </div>
        </div>
    </div>
</div>