@using System.ComponentModel.DataAnnotations
@using LogiEdge.CustomerService.Data
@using LogiEdge.Shared.Attributes
@using LogiEdge.WebUI.Warehouse.Components.PropertyValueInput
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WarehouseService.Services.WarehouseManagement
@using LogiEdge.WebUI.Shared.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore

@inject WarehouseManagementService warehouseService
@inject IDbContextFactory<WarehouseDbContext> WarehouseContextFactory

@code {
    [Parameter]
    public required Guid TransactionId { get; set; }
    [Parameter]
    public required DebouncerComponent Debouncer { get; set; }

    private InventoryTransaction Transaction { get; set; } = null!;
    private Customer? SelectedCustomerToAdd { get; set; } = null;
    private ItemSchema? SelectedItemSchemaToAdd { get; set; } = null;
    private List<(Warehouse warehouse, Customer customer, ItemSchema itemSchema)> ItemSchemasToShow { get; set; } = [];

    private List<ItemSchema> _itemSchemas = [];
    private List<Warehouse> _warehouses = [];

    private Warehouse? selectedWarehouse;

    private Dictionary<(Guid customer, Guid itemSchema), InboundDraftItem> NewItems { get; set; } = new();


    [Parameter]
    public bool IsAnyInputInvalid { get; set; }

    [Parameter]
    public EventCallback<bool> IsAnyInputInvalidChanged { get; set; }

    private Dictionary<(Guid item, string property), bool> LastInputInvalidMap { get; set; } = new();

    private void UpdateInputInvalidState(Guid itemId, string propertyName, bool isInvalid)
    {
        LastInputInvalidMap[(itemId, propertyName)] = isInvalid;
        bool anyInvalid = LastInputInvalidMap.Values.Any(v => v);
        if (IsAnyInputInvalid != anyInvalid)
        {
            IsAnyInputInvalid = anyInvalid;
            IsAnyInputInvalidChanged.InvokeAsync(anyInvalid);
        }
    }

    private Dictionary<(Guid customer, Guid itemSchema, string propertyName), InboundDraftItemPropertyValueInput> lastItemInputComponents = [];
    private (Guid customer, Guid itemSchema, string propertyName)? focusOnLastElement = null;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        Transaction = GetTransaction(ctx);

        _itemSchemas = await ctx.ItemSchemas
            .Include(x => x.Customers)
            .ToListAsync();
        _warehouses = await ctx.Warehouses
            .ToListAsync();

        ItemSchemasToShow = Transaction.InboundTransactionPart.DraftItems.Select(it => (it.Warehouse, it.Customer, it.ItemSchema)).Distinct().ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (focusOnLastElement != null)
        {
            if (lastItemInputComponents.TryGetValue(focusOnLastElement.Value, out InboundDraftItemPropertyValueInput? inputComponent))
            {
                await inputComponent.FocusAsync();
            }
            focusOnLastElement = null;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void BtnAddSchemaOnClick()
    {
        if (SelectedCustomerToAdd == null || SelectedItemSchemaToAdd == null)
            throw new Exception("No customer or item schema selected to add item schema for.");

        using WarehouseDbContext ctx = WarehouseContextFactory.CreateDbContext();
        ItemSchemasToShow.Add((selectedWarehouse, SelectedCustomerToAdd, SelectedItemSchemaToAdd));
    }

    private List<(string propertyName, Type propertyType)> GetPropertyColumns(ItemSchema schema)
    {
        List<(string propertyName, Type propertyType)> propertyColumns = typeof(InboundDraftItem)
            .GetProperties()
            .Where(p => Attribute.IsDefined(p, typeof(DisplayColumnPropertyAttribute)) &&
                        !Attribute.IsDefined(p, typeof(KeyAttribute)))
            .Select(p => (p.Name, p.PropertyType))
            .ToList();
        propertyColumns.AddRange(schema.AdditionalProperties.Select((x, i) => (x.Name, x.Type.ToType())));

        return propertyColumns;
    }

    private InventoryTransaction GetTransaction(WarehouseDbContext ctx)
    {
        InventoryTransaction? transaction = ctx.InventoryTransactions
            .Include(tr => tr.InboundTransactionPart)
                .ThenInclude(tr => tr.DraftItems)
                    .ThenInclude(di => di.Customer)
            .Include(tr => tr.InboundTransactionPart)
                .ThenInclude(tr => tr.DraftItems)
                    .ThenInclude(di => di.ItemSchema)
            .FirstOrDefault(t => t.Id == TransactionId);

        if (transaction == null)
            throw new InvalidOperationException($"Transaction {TransactionId} not found.");

        if (transaction.State != TransactionState.DRAFT)
            throw new InvalidOperationException($"Transaction {TransactionId} is not in DRAFT state.");

        return transaction;
    }

    private void NewItemPropertyValueChanged(InboundDraftItem item, string propertyName)
    {
        if (!Transaction.InboundTransactionPart.DraftItems.Contains(item))
        {
            using WarehouseDbContext ctx = WarehouseContextFactory.CreateDbContext();

            ctx.Attach(item.Customer);
            ctx.Attach(item.ItemSchema);

            InventoryTransaction transaction = GetTransaction(ctx);
            transaction.InboundTransactionPart.DraftItems.Add(item);
            ctx.SaveChanges();

            // navigation references will have been fixed by EF Core after SaveChanges
            Transaction = transaction;

            NewItems.Remove((item.CustomerId, item.ItemSchemaId));
            focusOnLastElement = (item.CustomerId, item.ItemSchemaId, propertyName);
            StateHasChanged();
        }
    }

    private async Task DeleteItem(InboundDraftItem item)
    {
        Transaction.InboundTransactionPart.DraftItems.Remove(item);

        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();
        ctx.Remove(item);
        await ctx.SaveChangesAsync();
    }

    private async Task SaveItemPropertyValueToDatabaseAsync(InboundDraftItem item, string propertyName)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();
        ctx.Attach(item);
        ctx.Update(item);
        await ctx.SaveChangesAsync();
    }
}

@{
    lastItemInputComponents.Clear();

    if (selectedWarehouse == null)
    {
        using WarehouseDbContext ctx = WarehouseContextFactory.CreateDbContext();
        selectedWarehouse = ctx.Warehouses.First();
    }
}

@foreach ((Warehouse warehouse, Customer customer, ItemSchema schema) in ItemSchemasToShow)
{
    List<InboundDraftItem> schemaItems = Transaction.InboundTransactionPart.DraftItems.Where(it => it.CustomerId == customer.Id && it.ItemSchemaId == schema.Id).ToList();
    List<(string propertyName, Type propertyType)> propertyColumns = GetPropertyColumns(schema);

    <h6 class="text-muted mt-3">
    @if (_itemSchemas.Count(x => x.Customers.Any(c => c.Id == customer.Id)) > 1)
    {
            <text>Items of Schema <span class="fw-bold text-dark">@schema.Name</span> · </text>
    }

    By Customer: <span class="fw-bold text-dark">@customer.Name</span> ·

    @if (_warehouses.Count > 0)
    {
        <text>Stored in Warehouse: <span class="fw-bold text-dark">@warehouse.Name</span></text>
    }
    </h6>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            @foreach ((string propertyName, Type propertyType) propertyColumn in propertyColumns)
            {
                <th>@propertyColumn.propertyName</th>
            }
        </tr>
        </thead>
        <tbody>
        @{
            int tabIndex = 0;
            foreach (InboundDraftItem item in schemaItems)
            {
                <tr>
                    @foreach ((string propertyName, Type propertyType) in propertyColumns)
                    {
                        <td>
                            @if (item == schemaItems.Last())
                            {
                                <InboundDraftItemPropertyValueInput 
                                    @ref="lastItemInputComponents[(customer.Id, schema.Id, propertyName)]"
                                    DraftItem="@item"
                                    PropertyName="@propertyName"
                                    PropertyValueChanged="e => Debouncer.Debounce(async Task () =>
                                    {
                                        await SaveItemPropertyValueToDatabaseAsync(item, e.PropertyName);
                                    })"
                                    LastInputInvalidChanged="e => UpdateInputInvalidState(item.Id, propertyName, e)"
                                    tabindex="@(tabIndex++)"/>
                            }
                            else
                            {
                                <InboundDraftItemPropertyValueInput 
                                    DraftItem="@item"
                                    PropertyName="@propertyName"
                                    PropertyValueChanged="e => Debouncer.Debounce(async Task () =>
                                    {
                                        await SaveItemPropertyValueToDatabaseAsync(item, e.PropertyName);
                                    })"
                                    LastInputInvalidChanged="e => UpdateInputInvalidState(item.Id, propertyName, e)"
                                    tabindex="@(tabIndex++)"/>
                            }
                        </td>
                    }

                    <td>
                        <HxButton Color="ThemeColor.Secondary" CssClass="row-button" OnClick="async Task () => await DeleteItem(item)">
                            <span class="material-symbols-rounded">
                                delete_forever
                            </span>
                        </HxButton>
                    </td>
                </tr>
            }

            <tr>
                @{
                    if (!NewItems.ContainsKey((customer.Id, schema.Id)))
                    {
                        InboundDraftItem newItem = new InboundDraftItem
                        {
                            Customer = customer,
                            CustomerId = customer.Id,
                            ItemSchema = schema,
                            ItemSchemaId = schema.Id,
                            Warehouse = warehouse,
                            WarehouseId = warehouse.Id,
                        };
                        NewItems[(customer.Id, schema.Id)] = newItem;
                    }
                        
                    foreach ((string propertyName, Type propertyType) propertyColumn in propertyColumns)
                    {
                        string propertyName = propertyColumn.propertyName;
                        <td>
                            <InboundDraftItemPropertyValueInput 
                                DraftItem="@NewItems[(customer.Id, schema.Id)]"
                                PropertyName="@propertyName"
                                PropertyValueChanged="() => NewItemPropertyValueChanged(NewItems[(customer.Id, schema.Id)], propertyName)"
                                tabindex="@(tabIndex++)"
                                @key="NewItems[(customer.Id, schema.Id)]" />
                        </td>
                    }
                    <td></td> @*Placeholder where other rows have the delete button *@
                }
            </tr>
        }
        </tbody>
    </table>
    <hr />
}

<div class="container-fluid">
    <h5>Create Inbound Item List</h5>
    <div class="row g-3">
        <div>
            <span>Target Warehouse for Items: </span>
            <WarehousePropertyValueInput 
                Value="selectedWarehouse"
                ValueChanged="e => selectedWarehouse = e"/>
        </div>
        <CustomerItemSchemaSelectorComponent @bind-SelectedCustomer="SelectedCustomerToAdd" @bind-SelectedItemSchema="SelectedItemSchemaToAdd"/>
        <div class="col">
            <HxButton Text="Add" OnClick="BtnAddSchemaOnClick" Color="ThemeColor.Secondary" />
        </div>
    </div>
</div>