@page "/warehouse/transactions/inbound/{TransactionId:guid}"
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using LogiEdge.BaseService.Data
@using LogiEdge.BaseService.Services
@using LogiEdge.Shared.Attributes
@using LogiEdge.Warehouse.Components
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WebUI.Shared.Components
@using Microsoft.EntityFrameworkCore
@using LogiEdge.CustomerService.Data
@using LogiEdge.Warehouse.Components.InboundTransactionPage
@using Microsoft.AspNetCore.Components.Forms
@inject IDbContextFactory<WarehouseDbContext> WarehouseContextFactory
@inject FileAttachmentService FileAttachmentService

@code {
    /// <summary>
    /// The ID of the transaction this page will show
    /// </summary>
    [Parameter]
    public Guid TransactionId { get; set; }

    private InboundTransaction? Transaction { get; set; }

    private List<(Customer customer, ItemSchema itemSchema)> customerItemSchemasToShow = [];

    private System.Timers.Timer? saveTimer;

    private async Task OnAttachmentsUploaded(List<FileAttachment> newAttachments)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        InboundTransaction? transaction = ctx.InboundTransactions
            .FirstOrDefault(t => t.Id == TransactionId);

        if (transaction == null)
            return;

        foreach (FileAttachment attachment in newAttachments)
        {
            FileAttachment entity = await FileAttachmentService.CreateAttachmentAsync(attachment);
            transaction.AttachmentIds.Add(entity.Id);
        }

        await ctx.SaveChangesAsync();
    }

    private async Task OnAttachmentRemoved(Guid attachmentId)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();
        InboundTransaction? transaction = ctx.InboundTransactions
            .FirstOrDefault(t => t.Id == TransactionId);
        transaction?.AttachmentIds.Remove(attachmentId);
        await FileAttachmentService.DeleteAttachmentAsync(attachmentId);
        await ctx.SaveChangesAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        TransactionId = parameters.GetValueOrDefault<Guid>("TransactionId");

        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        Transaction = ctx.InboundTransactions
            .Include(tr => tr.DraftItems).ThenInclude(di => di.Customer)
            .Include(tr => tr.DraftItems).ThenInclude(di => di.ItemSchema)
            .Include(tr => tr.NewItemStates)
            .FirstOrDefault(t => t.Id == TransactionId);

        if (Transaction != null)
        {
            customerItemSchemasToShow = Transaction.State switch
            {
                TransactionState.DRAFT => Transaction.DraftItems.Select(it => (it.Customer, it.ItemSchema)).Distinct().ToList(),
                TransactionState.BOOKED => Transaction.AffectedItems.Select(it => (it.Customer, it.ItemSchema)).Distinct().ToList(),
                _ => throw new Exception("Unexpected transaction state: " + Transaction.State)
            };
        }

        await base.SetParametersAsync(parameters);
    }

    private List<(string propertyName, Type propertyType)> GetItemPropertyColumns(ItemSchema schema)
    {
        List<(string propertyName, Type propertyType)> propertyColumns = typeof(Item)
            .GetProperties()
            .Where(p => Attribute.IsDefined(p, typeof(DisplayColumnPropertyAttribute)) &&
                        !Attribute.IsDefined(p, typeof(KeyAttribute)))
            .Select(p => (p.Name, p.PropertyType))
            .ToList();
        propertyColumns.AddRange(typeof(ItemState)
            .GetProperties()
            .Where(p => Attribute.IsDefined(p, typeof(DisplayColumnPropertyAttribute)) &&
                        !Attribute.IsDefined(p, typeof(KeyAttribute)))
            .Select(p => (p.Name, p.PropertyType)));
        propertyColumns.AddRange(schema.AdditionalProperties.Select((x, i) => (x.Name, x.Type.ToType())));

        return propertyColumns;
    }

    private void OnTitleInput(ChangeEventArgs e)
    {
        Transaction!.Title = e.Value?.ToString() ?? string.Empty;

        // Reset debounce timer
        saveTimer?.Stop();
        saveTimer?.Dispose();

        saveTimer = new System.Timers.Timer(500);
        saveTimer.Elapsed += async (_, _) => await InvokeAsync(SaveTitleToDatabaseAsync);
        saveTimer.AutoReset = false;
        saveTimer.Start();
    }

    private async Task SaveTitleToDatabaseAsync()
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        InboundTransaction? dbTransaction = await ctx.InboundTransactions
            .FirstOrDefaultAsync(t => t.Id == Transaction!.Id);

        if (dbTransaction != null)
        {
            dbTransaction.Title = Transaction!.Title;
            await ctx.SaveChangesAsync();
        }
    }
}
@{
    using WarehouseDbContext ctx = WarehouseContextFactory.CreateDbContext();

    List<FileAttachment> attachments = FileAttachmentService.GetAttachments(Transaction.AttachmentIds);

    List<ItemSchema> itemSchemas = ctx.ItemSchemas
        .Include(sch => sch.Customers)
        .ToList();

    if (Transaction == null)
    {
        <p>Could not find transaction with ID @TransactionId</p>
        return;
    }
}

<h3>
    <InputText class="form-control"
               @bind-Value="Transaction.Title"
               @oninput="OnTitleInput" />
    <span class="fs-6">@Transaction.Date</span>
</h3>



@if (Transaction.State == TransactionState.BOOKED)
{
    @foreach ((Customer customer, ItemSchema schema) in customerItemSchemasToShow)
    {
        <h4>Items for @customer.Name - @schema.Name</h4>

        <span>Booked transactions are final and cannot be edited.</span>
        <WarehouseItemTableComponent Items="Transaction.AffectedItems.Where(it => it.ItemSchema == schema).ToList()"
                                     ItemStateSelectionFunc="it => Transaction.NewItemStates!.First(st => st.Item.Id == it.Id)"
                                     PropertyColumns="new OrderedDictionary<string, bool>(GetItemPropertyColumns(schema)
                                         .Select(x => new KeyValuePair<string, bool>(x.propertyName, true)))" />
    }
}
else
{
    <DraftInboundTransactionPageComponent TransactionId="TransactionId" />
}

<DocumentGeneratorComponent TInputType="InboundTransaction" />

<FileAttachmentManagerComponent Attachments="@attachments"
                                OnAttachmentsUploaded="OnAttachmentsUploaded"
                                OnAttachmentRemoved="OnAttachmentRemoved" />