@page "/warehouse/transactions/inbound/{TransactionId:guid}"
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using LogiEdge.BaseService.Data
@using LogiEdge.BaseService.Services
@using LogiEdge.Shared.Attributes
@using LogiEdge.Warehouse.Components
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WebUI.Shared.Components
@using Microsoft.EntityFrameworkCore
@using LogiEdge.CustomerService.Data
@using LogiEdge.Warehouse.Components.InboundTransactionPage
@using Microsoft.AspNetCore.Components.Forms
@inject IDbContextFactory<WarehouseDbContext> WarehouseContextFactory
@inject FileAttachmentService FileAttachmentService

@code {
    /// <summary>
    /// The ID of the transaction this page will show
    /// </summary>
    [Parameter]
    public Guid TransactionId { get; set; }

    private InboundTransaction? Transaction { get; set; }

    private List<(Customer customer, ItemSchema itemSchema)> customerItemSchemasToShow = [];
    private List<FileAttachment> Attachments { get; set; } = [];

    private async Task OnAttachmentsUploaded(List<FileAttachment> newAttachments)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        InboundTransaction? transaction = ctx.InboundTransactions
            .FirstOrDefault(t => t.Id == TransactionId);

        if (transaction == null)
            return;

        foreach (FileAttachment attachment in newAttachments)
        {
            FileAttachment entity = await FileAttachmentService.CreateAttachmentAsync(attachment);
            transaction.AttachmentIds.Add(entity.Id);
            Attachments.Add(entity);
        }

        await ctx.SaveChangesAsync();
    }

    private async Task OnAttachmentRemoved(Guid attachmentId)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();
        InboundTransaction? transaction = ctx.InboundTransactions
            .FirstOrDefault(t => t.Id == TransactionId);
        transaction?.AttachmentIds.Remove(attachmentId);
        await FileAttachmentService.DeleteAttachmentAsync(attachmentId);
        Attachments.RemoveAll(a => a.Id == attachmentId);
        await ctx.SaveChangesAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        TransactionId = parameters.GetValueOrDefault<Guid>("TransactionId");

        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        Transaction = ctx.InboundTransactions
            .Include(tr => tr.DraftItems).ThenInclude(di => di.Customer)
            .Include(tr => tr.DraftItems).ThenInclude(di => di.ItemSchema)
            .Include(tr => tr.NewItemStates)
            .FirstOrDefault(t => t.Id == TransactionId);

        if (Transaction != null)
        {
            customerItemSchemasToShow = Transaction.State switch
            {
                TransactionState.DRAFT => Transaction.DraftItems.Select(it => (it.Customer, it.ItemSchema)).Distinct().ToList(),
                TransactionState.BOOKED => Transaction.AffectedItems.Select(it => (it.Customer, it.ItemSchema)).Distinct().ToList(),
                _ => throw new Exception("Unexpected transaction state: " + Transaction.State)
            };

            Attachments = await FileAttachmentService.GetAttachmentsAsync(Transaction.AttachmentIds);
        }

        await base.SetParametersAsync(parameters);
    }

    private List<(string propertyName, Type propertyType)> GetItemPropertyColumns(ItemSchema schema)
    {
        List<(string propertyName, Type propertyType)> propertyColumns = typeof(Item)
            .GetProperties()
            .Where(p => Attribute.IsDefined(p, typeof(DisplayColumnPropertyAttribute)) &&
                        !Attribute.IsDefined(p, typeof(KeyAttribute)))
            .Select(p => (p.Name, p.PropertyType))
            .ToList();
        propertyColumns.AddRange(typeof(ItemState)
            .GetProperties()
            .Where(p => Attribute.IsDefined(p, typeof(DisplayColumnPropertyAttribute)) &&
                        !Attribute.IsDefined(p, typeof(KeyAttribute)))
            .Select(p => (p.Name, p.PropertyType)));
        propertyColumns.AddRange(schema.AdditionalProperties.Select((x, i) => (x.Name, x.Type.ToType())));

        return propertyColumns;
    }
}

@if (Transaction == null)
{
    <p>Could not find transaction with ID @TransactionId</p>
    return;
}


@if (Transaction.State == TransactionState.BOOKED)
{
    <h3>
        <span>@Transaction.Title</span>
        <span class="fs-6">@Transaction.Date</span>
    </h3>
    @foreach ((Customer customer, ItemSchema schema) in customerItemSchemasToShow)
    {
        <h4>Items for @customer.Name - @schema.Name</h4>

        <span>Booked transactions are final and cannot be edited.</span>
        <WarehouseItemTableComponent Items="Transaction.AffectedItems.Where(it => it.ItemSchema == schema).ToList()"
                                     ItemStateSelectionFunc="it => Transaction.NewItemStates!.First(st => st.Item.Id == it.Id)"
                                     PropertyColumns="new OrderedDictionary<string, bool>(GetItemPropertyColumns(schema)
                                         .Select(x => new KeyValuePair<string, bool>(x.propertyName, true)))" />
    }
}
else
{
    <DraftInboundTransactionPageComponent TransactionId="TransactionId" />
}

<DocumentGeneratorComponent TInputType="InboundTransaction" />

<FileAttachmentManagerComponent Attachments="@Attachments"
                                OnAttachmentsUploaded="OnAttachmentsUploaded"
                                OnAttachmentRemoved="OnAttachmentRemoved" />