@page "/warehouse/transactions/inbound/{TransactionId:guid}"
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using LogiEdge.BaseService.Data
@using LogiEdge.BaseService.Services
@using LogiEdge.Shared.Attributes
@using LogiEdge.Warehouse.Components
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WebUI.Shared.Components
@using Microsoft.EntityFrameworkCore
@using LogiEdge.CustomerService.Data
@using LogiEdge.Warehouse.Components.InboundTransactionPage
@inject IDbContextFactory<WarehouseDbContext> WarehouseContextFactory
@inject FileAttachmentService FileAttachmentService

@code {
    /// <summary>
    /// The ID of the transaction this page will show
    /// </summary>
    [Parameter]
    public Guid TransactionId { get; set; }

    private List<(Customer customer, ItemSchema itemSchema)> customerItemSchemasToShow = [];

    private async Task OnAttachmentsUploaded(List<FileAttachment> newAttachments)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        InboundTransaction? transaction = ctx.InboundTransactions
            .FirstOrDefault(t => t.Id == TransactionId);

        if (transaction == null)
            return;

        foreach (FileAttachment attachment in newAttachments)
        {
            FileAttachment entity = await FileAttachmentService.CreateAttachmentAsync(attachment);
            transaction.AttachmentIds.Add(entity.Id);
        }

        await ctx.SaveChangesAsync();
    }

    private async Task OnAttachmentRemoved(Guid attachmentId)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();
        InboundTransaction? transaction = ctx.InboundTransactions
            .FirstOrDefault(t => t.Id == TransactionId);
        transaction?.AttachmentIds.Remove(attachmentId);
        await FileAttachmentService.DeleteAttachmentAsync(attachmentId);
        await ctx.SaveChangesAsync();
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        TransactionId = parameters.GetValueOrDefault<Guid>("TransactionId");

        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        InboundTransaction? transaction = ctx.InboundTransactions
            .Include(tr => tr.DraftItems).ThenInclude(di => di.Customer)
            .Include(tr => tr.DraftItems).ThenInclude(di => di.ItemSchema)
            .Include(tr => tr.NewItemStates)
            .FirstOrDefault(t => t.Id == TransactionId);

        if (transaction != null)
        {
            customerItemSchemasToShow = transaction.State switch
            {
                TransactionState.DRAFT => transaction.DraftItems.Select(it => (it.Customer, it.ItemSchema)).Distinct().ToList(),
                TransactionState.BOOKED => transaction.AffectedItems.Select(it => (it.Customer, it.ItemSchema)).Distinct().ToList(),
                _ => throw new Exception("Unexpected transaction state: " + transaction.State)
            };
        }

        await base.SetParametersAsync(parameters);
    }

    private List<(string propertyName, Type propertyType)> GetItemPropertyColumns(ItemSchema schema)
    {
        List<(string propertyName, Type propertyType)> propertyColumns = typeof(Item)
            .GetProperties()
            .Where(p => Attribute.IsDefined(p, typeof(DisplayColumnPropertyAttribute)) &&
                        !Attribute.IsDefined(p, typeof(KeyAttribute)))
            .Select(p => (p.Name, p.PropertyType))
            .ToList();
        propertyColumns.AddRange(typeof(ItemState)
            .GetProperties()
            .Where(p => Attribute.IsDefined(p, typeof(DisplayColumnPropertyAttribute)) &&
                        !Attribute.IsDefined(p, typeof(KeyAttribute)))
            .Select(p => (p.Name, p.PropertyType)));
        propertyColumns.AddRange(schema.AdditionalProperties.Select((x, i) => (x.Name, x.Type.ToType())));

        return propertyColumns;
    }
}
@{
    using WarehouseDbContext ctx = WarehouseContextFactory.CreateDbContext();
    InboundTransaction? transaction = ctx.InboundTransactions
        .Include(t => t.DraftItems)
        .Include(t => t.NewItemStates)
        .ThenInclude(st => st.Item)
        .FirstOrDefault(t => t.Id == TransactionId);

    if (transaction == null)
    {
        <p>Could not find transaction with ID @TransactionId</p>
        return;
    }

    List<FileAttachment> attachments = FileAttachmentService.GetAttachments(transaction.AttachmentIds);

    List<ItemSchema> itemSchemas = ctx.ItemSchemas
        .Include(sch => sch.Customers)
        .ToList();
}

<h3>InboundTransactionPage</h3>

<DocumentGeneratorComponent TInputType="InboundTransaction" />

<span>Date: @transaction.Date</span>

@if (transaction.State == TransactionState.BOOKED)
{
    @foreach ((Customer customer, ItemSchema schema) in customerItemSchemasToShow)
    {
        <h4>Items for @customer.Name - @schema.Name</h4>

        <span>Booked transactions are final and cannot be edited.</span>
        <WarehouseItemTableComponent Items="transaction.AffectedItems.Where(it => it.ItemSchema == schema).ToList()"
                                     ItemStateSelectionFunc="it => transaction.NewItemStates!.First(st => st.Item.Id == it.Id)"
                                     PropertyColumns="new OrderedDictionary<string, bool>(GetItemPropertyColumns(schema)
                                         .Select(x => new KeyValuePair<string, bool>(x.propertyName, true)))" />
    }
}
else
{
    <DraftInboundTransactionPageComponent TransactionId="TransactionId" />
}

<FileAttachmentManagerComponent Attachments="@attachments"
                                OnAttachmentsUploaded="OnAttachmentsUploaded"
                                OnAttachmentRemoved="OnAttachmentRemoved" />