@using Microsoft.AspNetCore.Components.Forms
@typeparam TItem
@code {
    [Parameter]
    public bool IsEditing { get; set; }
    [Parameter]
    public required string PropertyName { get; set; }
    [Parameter]
    public required TItem? PropertyValue { get; set; }
    [Parameter]
    public required Func<TItem, string> DisplayTextFunc { get; set; }
    [Parameter]
    public required List<TItem> Options { get; set; }

    [Parameter]
    public EventCallback<PropertyFilterBadgeComponent> OnRemoveFilter { get; set; }
    [Parameter]
    public EventCallback<PropertyFilterBadgeComponent> OnEditingRequested { get; set; }
    [Parameter]
    public EventCallback<TItem> OnEditingFinished { get; set; }
}

@{
    if (typeof(TItem) != typeof(string) && typeof(TItem) != typeof(bool))
    {
        throw new ArgumentException("InputSelect currently only supports values of type string, bool, and bool?.");
    }

    RenderFragment<object?> editValueRenderFragment = _ => @<text>
        <InputSelect TValue="TItem"
                     @bind-Value="PropertyValue"
                     @bind-Value:after="() => OnEditingFinished.InvokeAsync(PropertyValue)"
                     @onclick:stopPropagation="true">
            @foreach (TItem item in Options)
        {
            <option value="@item">@DisplayTextFunc(item)</option>
        }
        </InputSelect>
    </text>;
}

<PropertyFilterBadgeComponent PropertyName="@PropertyName"
                              PropertyValue="@(PropertyValue != null ? DisplayTextFunc(PropertyValue) : null)"
                              IsEditing="@IsEditing"
                              OnRemoveFilter="@OnRemoveFilter"
                              OnEditingRequested="@OnEditingRequested"
                              EditValueRenderFragment="@editValueRenderFragment" />